
@media (min-width: 1200px) {

    #bodybase{
        margin: 0;
        padding: 0;
    }
    .zone1{
        height: 100vh;
        width: 100%;
        background-image: url("/images/montagne.jpg");
        background-size: cover;
        background-position: center;
        display: table;
        background-attachment: fixed;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7em;
    }
    #nomdusite{
        color: rgb(117, 71, 11);
        /* font-family: 'AlexBrushRegular'; */
        font-family: 'Alex Brush', cursive;
        font-size: 4em;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
    }
    .boite{
        /* height: 2em; */
        /* width: 9em; */
        border-radius: 0.5em;
        padding: 1em;
        background-image: linear-gradient(rgb(20, 45, 187), rgb(61, 128, 214));
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    /* #creercompte{
        left: 4vw;
        top: 3vh;
    }
    #administrateur{
        width: 12em;
    }
    #connexion, #deconnexion{
        left: 4vw;
        top: 8vh;
    } */
    .a1{
        text-decoration: none;
        color: burlywood;
    }
    .a2{
        text-decoration: none;
        color: floralwhite;
    }
    .formulaire{
        height: 15em;
        width: 36em;
        border-radius: 1em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 6em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-image: linear-gradient(rgb(20, 45, 187), rgb(61, 128, 214));
        color: burlywood;
        opacity: 0.8;
        font-size: 1.5em;
    }
    .titreform{
        height: 4em;
        width: 30em;
        margin-left: 5em;
        font-size: 1em;
    }
    .saisieform{
        height: 9em;
        width: 30em;
        margin-left: 5em;
    }
    .valider{
        padding: 10px;
        margin-top: 1.2em;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        font-size: 0.7em;
        color: burlywood;
        background-color: rgb(13, 114, 55);
    }
    .idconnex{
        height: 4em;
        width: 15em;
        margin-left: 5em;
    }
    .valider2{
        padding: 10px;
        border-radius: 5px;
        margin-left: 7.2em;
        text-align: center;
        display: inline-block;
        font-size: 0.7em;
        color: burlywood;
        background-color: rgb(13, 114, 55);
    }
    .accueil{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        color: crimson;
    }
    #footer1{
        height: 4em;
        color: floralwhite;
        text-align: center;
        font-size: 1.4em;
        position: absolute;
        right: 30%;
        left: 30%;
        bottom: 1em;
        text-decoration: overline;
    }
    .zone2{
        height: 100vh;
        width: 100%;
        background-image: url("/images/plage2.jpg");
        background-size: cover;
        background-position: center;
        display: table;
        background-attachment: fixed;
    }
    #sentence{
        /* font-family: 'AlexBrushRegular'; */
        font-family: 'Alex Brush', cursive;
        font-size: 3em;
        color: rgb(12, 85, 42);
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .zone3{
        height: 100vh;
        width: 100%;
        background-image: url("/images/apocalypse.jpg");
        background-size: cover;
        background-position: center;
        display: table;
        background-attachment: fixed;
    }
    #nomdusite2{
        color: rgb(190, 16, 16);
        font-family: 'Berkshire Swash', cursive;
        font-size: 4em;
    }
    #footer2{
        height: 4em;
        color: rgb(235, 105, 19);
        text-align: center;
        font-size: 1.4em;
        position: absolute;
        right: 30%;
        left: 30%;
        bottom: 0.5em;
        font-family: 'Berkshire Swash', cursive;
    }
    .zone4{
        height: 100vh;
        width: 100%;
        background-image: url("/images/antre_sorcier1.jpg");
        background-size: cover;
        background-position: center;
        display: table;
        background-attachment: fixed;
    }
    #sentence2{
        /* font-family: 'AlexBrushRegular'; */
        font-family: 'Berkshire Swash', cursive;
        font-size: 5em;
        color: rgb(50, 8, 78);
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

 
 }






