
@media (min-width: 1000px) {

    #bodybase{
        margin: 0;
        padding: 0;
    }
    .zone1{
        height: 100vh;
        width: 100%;
        background-image: url("/images/montagne.jpg");
        background-size: cover;
        background-position: center;
        display: table;
        background-attachment: fixed;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 9em;
    }
    #nomdusite{
        color: rgb(16, 145, 70);
        /* font-family: 'Alex Brush', cursive; */
        /* font-family: 'Acme', sans-serif; */
        /* font-family: 'Cinzel', serif; */
        /* font-family: 'Turret Road', cursive; */
        font-family: 'Press Start 2P', cursive;
        /* font-family: 'Graduate', cursive; */
        /* font-family: 'Rye', cursive; */
        font-size: 2.5em;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
    }
    .boite{
        /* height: 2em; */
        /* width: 9em; */
        border-radius: 0.5em;
        padding: 1em;
        background-image: linear-gradient(rgb(20, 45, 187), rgb(61, 128, 214));
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .boite2{
        border-radius: 0.5em;
        padding: 1em;
        background-image: linear-gradient(rgb(77, 82, 6), rgb(221, 223, 191));
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .a1{
        text-decoration: none;
        color:burlywood;
    }
    .a2{
        text-decoration: none;
        color: yellow;
    }
    .a3{
        text-decoration: none;
        color: rgb(61, 79, 180);
    }
    .formulaire{
        width: 30em;
        border-radius: 1em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2em;
        padding: 2em;
        background-image: linear-gradient(rgb(20, 45, 187), rgb(61, 128, 214));
        opacity: 0.8;
        color: burlywood;
        font-size: 1.5em;
    }
    .titreform{
        height: 4em;
        width: 20em;
        font-size: 1em;
        /* border: 1px solid black; */
    }
    .champtrente{
        height: 2em;
        width: 30em;
        border-radius: 0.5em;
        margin: 1em;
        background-color: ghostwhite;
    }
    .valider{
        padding: 10px;
        margin-top: 1.5em;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        font-size: 0.7em;
        color: burlywood;
        background-color: rgb(13, 114, 55);
    }
    .valider2{
        margin-top: 2em;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        font-size: 0.7em;
        color: burlywood;
        background-color: rgb(13, 114, 55);
    }
    .accueil{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        color: crimson;
    }
    #footer1{
        height: 4em;
        color: floralwhite;
        text-align: center;
        font-size: 1.4em;
        position: absolute;
        right: 30%;
        left: 30%;
        bottom: 1em;
        text-decoration: overline;
    }
    .zone2{
        height: 100vh;
        width: 100%;
        background-image: url("/images/plage2.jpg");
        background-size: cover;
        background-position: center;
        display: table;
        background-attachment: fixed;
    }
    #sentence{
        /* font-family: 'Alex Brush', cursive; */
        font-family: 'Press Start 2P', cursive;
        color: rgb(12, 85, 42);
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    #nomdusite2{
        color: rgb(190, 16, 16);
        font-family: 'Berkshire Swash', cursive;
        font-size: 4em;
    }
    #footer2{
        height: 4em;
        color: rgb(235, 105, 19);
        text-align: center;
        font-size: 1.4em;
        position: absolute;
        right: 30%;
        left: 30%;
        bottom: 0.5em;
        font-family: 'Berkshire Swash', cursive;
    }
    #sentence2{
        font-family: 'Berkshire Swash', cursive;
        font-size: 5em;
        color: rgb(50, 8, 78);
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .boite3{
        border-radius: 1em;
        padding: 0.5em;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        background-color: black;
    }
    #titrimages{
        margin-left: 1em;
    }
    .clair{
        color: darksalmon;
    }
    .choiximgmod{
        width: 11em;
        height: 11em;
        object-fit: cover;
        padding: 0.6em;
    }
    .boite4{
        border-radius: 1em;
        padding: 0.5em;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        background-color: rgb(182, 152, 122);
    }
    #titrecaracs{
        margin-left: 4em;
    }
    #listcaracs{
        display: flex;
    }
    #lc1{
        padding: 1em;
        display: flex;
        width: 12%;
    }
    #lc2{
        padding: 1em;
        display: flex;
        width: 75%;
    }
    #lc3{
        padding: 1em;
        display: flex;
        width: 6%;
    }
    .a4{
        text-decoration: none;
        color: rgb(119, 24, 29);
    }
    .a5{
        text-decoration: none;
        color: rgb(25, 97, 126);
    }
    #ajoutcar{
        border-radius: 0.5em;
        padding: 1em;
        width: 20em;
        font-size: 1.5em;
        text-align: center;
        background-color: rgb(141, 93, 44);
    }
    .a6{
        text-decoration: none;
        color: rgb(51, 44, 7);
    }
    .boite5{
        border-radius: 1em;
        padding: 0.5em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        background-image: linear-gradient(rgb(77, 82, 6), rgb(221, 223, 191));
        /* border: 1px solid black; */
    }
    .valider3{
        height: 3.5em;
        width: 7em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.5em;
        text-align: center;
        color: burlywood;
        background-color: rgb(13, 114, 55);
        font-size: 1.2em;
    }
    .boite6{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        padding: 1em;
        border-radius: 0.5em;
        display: flex;
        align-items: center;
        /* border: 1px solid black; */
    }
    .champtitre{
        height: 2em;
        width: 20em;
        border-radius: 0.5em;
        margin: 1em;
        background-color: ghostwhite;
    }
    .champtexte{
        height: 2em;
        width: 60em;
        border-radius: 0.5em;
        margin: 1em;
        background-color: ghostwhite;
    }
    .label{
        margin: 1em;
        font-size: 1.2em;
    }


 
 }






