{% extends 'baseadmin.html.twig' %}





{% block body %}
    <div class="boite4">
        <div id="creerrobot">
            <a class="a6" href="{{ path ("creer_robot") }}">Ajouter un modèle</a>
        </div>
    </div>
{% endblock %}








