{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

{% block navigation %}
{% endblock %}

<section class="formulaire">
    <form method="post">

        {% if error %}
            <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

            <table>
                <tr>
                    <td><label for="inputEmail" class="">Courriel </label></td>
                    <td><input type="email" value="{{ last_username }}" name="email" class="champtrente" placeholder="Courriel" required autofocus></td>
                </tr>
                <tr>
                    <td><label for="inputPassword" class="">Mot de passe </label></td>
                    <td><input type="password" name="password"  class="champtrente" placeholder="Mot de passe" required></td>
                </tr>
            </table>

            <input type="hidden" name="_target_path" value="/account"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div>
                <button type="submit" class="valider2">Connexion</button>
            </div>

    </form>
</section>

{% endblock %}


