{% extends 'base.html.twig' %}





{% block content %}

    <footer id="footer1">
        {% if app.user %}
            <p>Vous êtes connecté en tant que {{ app.user.pseudo }}</p>
        {% endif %}
    </footer>

{% endblock %}

{% block javascript %}

{% endblock %}



